<!DOCTYPE html>
<html>
  <head>
    <title>Codebreaker</title>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  </head>
  <body>
    <div id="container">
      <h1>Enter your name:</h1>
      <form method="post" action="/start_game">
        <input name="player_name" type="text">
        <input type="submit" value="START!">
      </form>
      <hr />
      <h2>Last winners:</h2> <br />
      <% if @file_service.load_results.nil? %>
        Not found
      <% else %>
        <% @file_service.load_results.each do |item| %>
          <b>name:</b> <%= item[:name] %>, <b>code:</b> <%= item[:code] %>
          <hr style="width: 50px; margin-left: 0px;">
        <% end %>
      <% end %>
    </div>
  </body>
</html>
