<!DOCTYPE html>
<html>
  <head>
    <title>Codebreaker</title>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  </head>
  <body>
    <div id="container">
      <h1>Enter your name:</h1>
      <form method="post" action="/start_game">
        <input name="player_name" type="text">
        <input type="submit" value="START!">
      </form>
      <hr />
      <h2>Last 10 results:</h2> <br />
      <% if load_results.nil? %>
        Not found
      <% else %>
      <% load_results.each do |item| %>
        <%= item.inspect %>
      <% end %>
      <% end %>
    </div>
  </body>
</html>
