<!DOCTYPE html>
<html>
  <head>
    <title>Codebreaker</title>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  </head>
  <body>
    <div id="container">
    <h1>Game over (code: <%= secret_code %> )</h1>

      <%= result %>
    <br />
    <a href="/">Try again</a>
    </div>
  </body>
</html>
